<style>
body {
  background-color: white;
}
h1 {
  color:black;
  text-align: center;
  font-family: ariel;
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}
th {
  font-size: 18px;
  text-align: center;

}
td {
  font-size: 17px;
  font-weight: lighter;
}

td.PASS{
  color: green;
}
td.FAIL{
  color: red;
}

table.bed_table{
  border-collapse: collapse;
  border-style: hidden;
}
table.bed_table th{
  text-align: left;
  padding: 2px;
  font-weight: 600;
}

</style>